<% content_for :title, "Editing student guardian" %>

<h1 class="page-title text-center" style="background-color: #ffce1b; color: black;">
  EDIT STUDENT GUARDIAN
</h1>

<%= render "form", student_guardian: @student_guardian %>

<br>

<div class="action-buttons" style="display: flex; gap: 10px; justify-content: flex-start;">
  <%= link_to "Show this student guardian", @student_guardian, class: "btn-round-gold" %>
  <%= link_to "Back to student guardians", student_guardians_path, class: "btn-round-gold" %>
</div>
