<h1>Student Guardians</h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Guardian Name</th>
      <th>Student Name</th>
      <th>Relationship</th>
    </tr>
  </thead>
  <tbody>
    <% @student_guardians.each do |sg| %>
      <tr>
        <td><%= sg.guardian.name %></td>
        <td><%= sg.student.name %></td>
        <td><%= sg.relationship %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Record", new_student_guardian_path, class: "btn btn-gxyy mt-3" %>
