<% content_for :title, "Subjects" %>

<style>
.page-title {
  background-color: #ffce1b;
  color: #000000;
  padding: 12px 20px;
  font-weight: bold;
}

.btn-gxyy {
  background-color: none;
  border-color: #ffce1b;
  border-width: 2px;
  color: black;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.btn-gxyy:hover {
  background-color: black;
  color: #ffce1b;
  transform: scale(1.05);
}

.table {
  background-color: #000;
  color: #ffce1b;
  border: 1px solid #ffce1b;
  text-align: center;
}

.table th {
  background-color: #1a1a1a;
  color: #ffd700;
  border-bottom: 2px solid #ffce1b;
}

.table tr:hover {
  background-color: #111;
  color: #ffd700;
  transition: 0.2s;
}

.btn-gxgg {
  background-color: #ffce1b;
  color: black;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.btn-gxgg:hover {
  background-color: black;
  color: #ffce1b;
  transform: scale(1.05);
}
</style>

<h1 class="page-title text-center">SUBJECTS</h1>

<div class="text-center">
  <table class="table table-light table-striped table-hover">
    <thead>
      <tr class="table table-dark">
        <th>Name</th>
        <th>Teacher</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @subjects.each do |subject| %>
        <tr>
          <td><%= subject.name %></td>
          <td><%= subject.teacher.name %></td>
          <td><%= link_to " Show ", subject, class: "btn btn-gxyy" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br><br><br>

<%= link_to "New Subject", new_subject_path, class: "btn btn-gxgg" %>
