<% content_for :title, "New subject" %>

<%= render "form", subject: @subject %>

<br>

<div class="action-buttons" style="display: flex; justify-content: flex-start;">
  <%= link_to "Back to subjects", subjects_path, class: "btn-round-gold" %>
</div>
